
    //color
    $color-primary-light:#7ed56e;
    $color-primary-dark:#28b485; //rgb(40, 180, 133)
    $color-gray-dark:#333;
    $color-gray-ligth:#f7f7f7;
    $color-white:#fff;
    $color-black:#000;
    $color-secondary-light:#ffb900;
    $color-secondary-dark:#ff7300;
    $color-tertiory-light:#2298ff;
    $color-tertiory-dark:#5643ff;



    //grid
    $grid-width:114rem;
    $gutter-horizontal:6rem;
    $gutter-vertiacl:8rem;