.u-text-center{ text-align: center;}
.u-margin-bottom2half{margin-bottom:2.5rem;}
.u-margin-bottom1half{margin-bottom:1.5rem;}
.u-margin-top{margin-top: 1rem;}
.u-padding-medium{padding:2.4rem;}
.u-padding-small{padding:1rem 2rem;}
.u-font-medium{font-size:  2rem;}
.u-font-small{font-size: 1.4rem;}
